{% extends 'blog/base.html' %}
{% block main-content %}
<div class="container">
  {% if blogs %}
    {% for blog in blogs %}
      <div class="row my-2">
        <div class="col-12">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title">{{ blog.title }}</h5>
              <p class="card-text">{{ blog.content }}</p>
              <p class="card-text"><strong>Author : </strong> {{ blog.user }}</p>
              <p class="card-text"><small class="text-muted">Published At: {{blog.published_at}}</small></p>
              {% if request.user == blog.user %}
                <div class="btn-group" role="group" aria-label="Edit and Delete Buttons">
                  <a class="btn btn-primary text-white" href="{% url 'blogs_edit' blog.id %}">Edit</a>
                  <a class="btn btn-danger text-white" href="{% url 'blogs_destroy' blog.id %}">Delete</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col-12 text-center mt-5">
          <p>No blog post available</p>
      </div>
    </div>
  {% endif %}

</div>

  
{% endblock %}
