{% extends 'blog/base.html' %}
{% block main-content %}
<h1 class="text-center py-3">Register User</h1>
{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <span>{{ error }}</span>
  {% endfor %}
{% endif %}
<form action="#" method="post" novalidate>
  {% csrf_token %}
  {% for field in form%}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
  {% endfor %}
  <input type="submit" value="Register" class="btn btn-dark btn-block">
</form>
{% endblock %}
